@charset "utf-8";
*{margin: 0;
		  padding: 0;
		}
		li{
			list-style: none;
		}
		body{
			background-color:antiquewhite;
			position:absolute;     left:0;    top:0;   right:0;   bottom:0;   margin:auto;
		}
		.clearfix:before,clearfix:after{   /*清除浮动*/
       Display:table
         }
         Clearfix:after{
           Clear:both
          } 
         .clearfix{
          *zoom:1
            }